.weather-container {
  max-width: 700px;
  margin: 45px auto;
}

.container {
  text-align: center;
  color: #777777;
  font-family: "Noto Serif", serif;
  font-family: "Poppins", sans-serif;

  border: 1.5px;
  border-style: solid;
  border-radius: 10px;
  border-color: #c5c5c5;
  box-shadow: 3px 3px 3px 3px #d8d7d7;

  padding-bottom: 15px;
}

h1 {
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 15px;
}

form {
  max-width: 60%;
  margin: 2px auto;
}
.btn btn-outline-secondary {
  margin: 5px;
}

.material-icons {
  position: relative;
  
  margin-right: 0px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.temp {
  margin-left: 0px;
}

.units {
  position: relative;
  font-size: small;
  bottom: 25px;
  text-decoration: none;
}

.col-6 {
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 2px;
}

h2 {
  
  font-size: 52px;
  margin-top: 5px;
  
}

h4 {
  font-weight: 600;
  color: #a1a1a1;
}

.emoji {
  display: inline-block;
  font-size: 32px;
  margin: auto;
}

footer {
  font-size: smaller;
  position: relative;
}
