.weather-container {
  max-width: 600px;
  margin: 45px auto;
}

.container {
  text-align: center;
  color: #777777;
  font-family: "Noto Serif", serif;
  font-family: "Poppins", sans-serif;

  border: 1.5px;
  border-style: solid;
  border-radius: 10px;
  border-color: #c5c5c5;
  box-shadow: 3px 3px 3px 3px #d8d7d7;

  padding-bottom: 15px;
}

h1 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 2px;
}

.country {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 28px;
  margin-right: 45px;
  
}

form {
  max-width: 90%;
  margin: 2px auto;
}

.btn-outline-secondary {
  border-color: #777777;
}

.btn-warning.current {
  color: #696969;
}

.btn-warning.current:hover {
  color: #696969;
  background-color: #f5e5b5;
  border-color: #f5e5b5;
}

.material-icons {
  position: relative;

  margin-right: 0px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.temp {
  margin-left: 0px;
}

.col-6 {
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 2px;
}

h2 {
  font-size: 52px;
  margin-top: 5px;
}

h4 {
  font-weight: 600;
  color: #a1a1a1;
}

.units {
  position: relative;
  font-size: 18px;

  bottom: 25px;
  margin-left: 0px;
}

.emoji {
  display: inline-block;
  font-size: 32px;
  margin: auto;
}

.forecast-temp {
font-size: 15px;
}

.forecast-temp-max {
font-weight: bold;
opacity: 0.8;
}

.footer {
  font-size: smaller;
  position: relative;
  margin-left: 15px;

}
